* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.cabeçalho-logo {
    background-color: #2E948A;
    display: flex;
    padding: 25px;
    padding-left: 85px;
    box-sizing: content-box;
    box-shadow: 0px 4px 4px 0px #0000005C;
}

.dindin p {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 500;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.cabeçalho-links {
    display: flex;
    gap: 40px;
    padding-left: 60%;
    padding-top: 25px;
}

.cabeçalho-links a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.Cursos h1 {
    color: #FF4081;
    font-weight: 700;
    padding: 3%;
    font-size: 60px;
    line-height: 0px;
}

.Cursos h6 {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
    padding-left: 3%;
    line-height: 0px;
}

.div-posts {
    display: flex;
    padding: 5%;
}

.div-posts h3 {
    color: #FF4081;
    font-weight: 700;
    font-size: 35px;
    padding: 5%;
}

.div-posts p {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    padding-left: 5%;
}

.div-posts button {
    background-color: #2E948A;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    border-radius: 62px;
    width: 233px;
    height: 51px;
    border: none;
    margin: 5%;
}

.rodapé {
    width: 100%;
    height: 207px;
    background-color: #2E948A;
    display: flex;
}

.rodapé-logo {
    display: flex;
    background-color: #2E948A;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 150px;
    box-sizing: content-box;
}

.dindin-footer p {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 500;
    display: flex;
    padding-top: 65px;
}

.educação-financeira {
    display: flex;
    color: #FFFFFF;
    padding-left: 4px;
    line-height: 0px;
    font-weight: 300;
}

.rodapé-links {
    grid-template-columns: auto;
    padding-left: 500%;
    padding-top: 50%;
}

.rodapé-links a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    line-height: 40px  
}

.buttons {
    padding-left: 50%;
    padding-top: 25px;
    margin: 0px;
}

.button-footer button {
    background-color: #2E948A;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    border-radius: 62px;
    width: 300px;
    height: 51px;
    margin: 2%;
    border: 2px solid #FFFFFF;
}