* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;


}

/-----------------------------------------------Header----------------------------------------------------------------------------/

header {
    background: #2E948A;
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
}

.MenuHeader {

    display: flex;
    gap: 20%;

}

.MenuHeader a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}


/------------------------------------------------Section 1---------------------------------------------------------------------------/




.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 821px;
    gap: 150px;
    margin-bottom: 100px;
}


.legend {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.legend h1 {
    color: #FF4081;
    font-size: 60px;
    font-weight: 700;
}

.legend p {
    font-size: 27px;
    font-weight: 400;

}

.legend button {
    background-color: white;
    width: 268px;
    height: 51px;

    border: 2px solid #FF4081;
    border-radius: 62px;
}

.legend a {
    text-decoration: none;
    font-weight: 400;
    color: #FF4081;
    font-size: 24px;
}

.img1 {
    margin-top: 200px;
}

/--------------------------------------------------Section 2-------------------------------------------------------------------------/


.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 730px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    
}


.conteudo img {
    height: 250px;
}


.conteudo h3 {
    text-align: center;
    margin-top: 15%;
    color: #FF4081;
    
}


.conteudo p {
    /centralição de couteúdo/
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


.conteudo button {
    background-color: #FF4081;
    width: 268px;
    height: 51px;
    border-radius: 62px;
    border: none;
}

.conteudo a {
    text-decoration: none;
    color: white;

}



/--------------------------------------------------Section 3-------------------------------------------------------------------------/

.section3 {
    width: 100%;
    height: 600px;
    margin: 30px;
    font-family: 'Nunito', sans-serif;

}

.section3title {
    color: #2E948A;
    font-size: 25px;
    margin-top: 119px;
    margin-left: 128px;
}


.article3 {
    display: grid;
    grid-template-columns: 20fr 20fr;
    
    margin-top: 78px;
    margin-left: 128px;
    gap: 86px;
}


.article3 div {
    display: flex;
    gap: 28px;
}

/-------------------------------------------Section 4--------------------------------------------------------------------------------/

.section4 {
    background-color: #F6F6F6;
    width: 100%;
    height: 730px;
    font-family: 'Ubuntu', sans-serif;

}

.section4title {
    color: #2E948A;
    font-size: 25px;
    padding-top: 119px;
    padding-left: 128px;
    
}

.article4 {
    display: grid;
    grid-template-columns: 20fr 20fr 20fr;
    grid-template-rows: 20fr;
    flex-wrap: wrap;
    margin-top: 78px;
    margin-left: 128px;
    gap: 86px;
}

.article4 h3 {
    color: #2E948A;
}

.colorgray {
    background-color: gray;
    width: 319px;
    height: 193px;

}

.section4button {

    margin-top: 101px;
    display: flex;
    justify-content: center;
}

.section4button button {
    background-color: #F6F6F6;
    width: 268px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
}

.section4button a {
    text-decoration: none;
    color: #FF4081;
}



/--------------------------------------------Footer-------------------------------------------------------------------------------/



footer {
    background: #2E948A;
    width: 100%;
    height: 207px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.MenuFooter {
    display: flex;
    flex-direction: column;
}

.MenuFooter a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}


.LinkFooter {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.LinkFooter a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.LinkFooter button {
    background-color: #2E948A;
    width: 268px;
    height: 51px;
    border: 2px solid #ffffff;
    border-radius: 62px;
}